<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <title>D.Card Personal HTML Template</title>
    <!-- Bootstrap -->

    <!-- CSS Font Icon and Plugins -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="assets/images/faicon.png">
    <link rel="apple-touch-icon" sizes="129x129" href="assets/images/icon.png">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </head>
  <body>
    <!-- =========
    Start Wrapper Page
    ===================================-->
    <div id="wrapper">
      <div class="container" >
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">

            <!-- =========
            Start portrait section
            ===================================-->
            <header class="portrait">
              <div class="bg-line"></div>
              <div class="body-portrait">

                <!-- =========
                Start Note Slider
                ===================================-->
                <div class="box-note">
                  <div id="slider-note" class="carousel slide" data-ride="carousel" data-interval="10000">
                    <div class="carousel-inner">
                      <div class="item active">
                        Currently in Shanghai !
                      </div>
                      <div class="item">
                        Iam available for freelance, if you need my services please
                        send me an email :)
                      </div>
                    </div>
                  </div>
                </div>
                <!-- =========
                End Note Slider
                ===================================-->

                <!-- =========
                Start portrait image Section
                ===================================-->
                <div class="portrait-img-area">

                  <%= image_tag("adrienliagre.jpg", alt: "avatar", class: "avatar") %>
                  <div class="profile-links">
                    <a href="https://www.linkedin.com/in/adrien-liagre-0595b07b?trk=nav_responsive_tab_profile_pic" class="facebook" target="_blank" data-toggle="tooltip" data-placement="left" title="Linkedin"><i class="fa fa-linkedin-square"></i></a>
                    <a href="https://twitter.com/L_ASdrI?lang=fr" class="twitter" target="_blank" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>
                  </div>
                </div>
                <!-- =========
                End  portrait image Section
                ===================================-->

                <!-- =========
                Start Show Yor Name Section
                ===================================-->
                <h1 class="name">Adrien Liagre <small>Student at EDHEC Business School</small></h1>
                <a href="javascript:void(0)" class="btn btn-flat " id="open-content">About Me</a>

                <!-- =========
                Start Show Yor Name Section
                ===================================-->

              </div>
            </header>
            <!-- =========
            End portrait section
            ===================================-->


            <!-- =========
            Start Content section
            ===================================-->
            <section class="content" id="main-content">

              <!-- =========
              Start navigation section
              ===================================-->
              <nav id='navigation'>
                <ul class="navigation-list clearfix list-unstyled">
                  <li class="active"><a href="#about" data-toggle="tab" data-menu="about"><i class="fa fa-user"></i> <span>About Me</span></a></li>
                  <li><a href="#resume" data-toggle="tab" data-menu="resume"><i class="fa fa-newspaper-o"></i>  <span>Resume</span></a></li>
                  <li><a href="#portfolio" data-toggle="tab" data-menu="portfolio"><i class="fa fa-folder-open"></i> <span>Portfolio</span></a></li>
                  <li><a href="#blog" data-toggle="tab" data-menu="blog"><i class="fa fa-pencil"></i> <span >Blog</span></a></li>
                  <li><a href="#contact" data-toggle="tab" data-menu="contact"><i class="fa fa-envelope"></i> <span>Contact</span></a></li>
                </ul>
              </nav>
              <!-- =========
              End navigation section
              ===================================-->


              <!-- =========
              Start tab content section
              ===================================-->
              <div class="tab-content">


                <!-- =========
                Start About tab content section
                ===================================-->
                <div id='about' class="tab-pane  fade in  active">
                  <div class="body-content">

                    <!-- =========
                    Start About your self section
                    ===================================-->
                    <div class="row">
                      <div class="col-md-3 text-center">
                        <%= image_tag("adrienliagre.jpg", alt: "avatar", class: "img-responsive img-profile") %>
                      </div>
                      <div class="col-md-9">
                        <div class="mini-desc">
                          <h2 class="title">Hello, i'm Adrien !</h2>
                          <p>I am currently enrolled as a Msc in entrepreneuship and Innovation Management student at Edhec Business School. I have started to learn coding few months ago and i built my first web app wwww.sportifly.fr  </p>
                          <p>Always ready to take up a challenge, i am looking forward for new opportunities</p>
                        </div>
                      </div>
                    </div>
                    <!-- =========
                    End About your self section
                    ===================================-->

                    <!-- =========
                    Start List Indentity and services your self  section
                    ===================================-->
                    <div class="deviter"></div>
                    <div class="row">
                      <div class="col-md-6">
                        <h3 class="title with-icon"><i class="fa fa-credit-card icn-title"></i> Indentity</h3>
                        <div class="identity-area">
                          <div class="row">
                            <div class="col-sm-4"><label>Fullname</label></div>
                            <div class="col-sm-8"> Adrien Liagre </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-4"><label>Date of birth</label></div>
                            <div class="col-sm-8"> February 12, 1992</div>
                          </div>
                          <div class="row">
                            <div class="col-sm-4"><label>Address</label></div>
                            <div class="col-sm-8">14 rue Francois Boucher, 78000</div>
                          </div>
                          <div class="row">
                            <div class="col-sm-4"><label>Phone</label></div>
                            <div class="col-sm-8"> +33 631 871 551</div>
                          </div>
                          <div class="row">
                            <div class="col-sm-4"><label>Email</label></div>
                            <div class="col-sm-8"> adrien.liagre@edhec.com</div>
                          </div>
                          <div class="row">
                            <div class="col-sm-4"><label>Skype</label></div>
                            <div class="col-sm-8"> adrien.liagre</div>
                          </div>
                          <div class="row">
                            <div class="col-sm-4"><label>Website</label></div>
                            <div class="col-sm-8"> <a target="_blank" href="www.sportifly.fr">Sportifly</a></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <h3 class="title with-icon"><i class="fa fa-bell-o icn-title"></i> Services</h3>
                        <div class="box-block">
                          <ul class="list-unstyled list-strip">
                            <li><i class="fa fa-check"></i> Ruby on Rails web app </li>
                            <li><i class="fa fa-check"></i> Create Wordpress Templates</li>
                            <li><i class="fa fa-check"></i> Ruby On Rails Templates</li>
                            <li><i class="fa fa-check"></i> Project management </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- =========
                    End List Indentity and services your self section
                    ===================================-->


                    <!-- =========
                    Start List fact your self section
                    ===================================-->
                    <div class="deviter"></div>
                    <div class="row">
                      <div class="col-lg-12">
                        <h3 class="title with-icon"><i class="fa fa-check-square-o icn-title"></i> FACT</h3>
                        <div class="box-fact-area">
                          <div class="row">
                            <div class="col-sm-3">
                              <div class="box-fact">
                                <i class="fa fa-star-o icn-fixed"></i> WEB APP BUILD FROM SCRATCH
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="box-fact">
                                <i class="fa fa-smile-o icn-fixed"></i> LEAN APPROACH
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="box-fact">
                                <i class="fa fa-globe  icn-fixed"></i> LAST TECHNOLOGIES
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="box-fact">
                                <i class="fa fa-calendar-o icn-fixed"></i> TECHNICAL SALES COMPETENCES
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- =========
                    End List fact your self section
                    ===================================-->

                    <!-- =========
                    Start List your  client  and testimonial section
                    ===================================-->
                    <div class="deviter"></div>
                    <!-- <div class="row">
                      <div class="col-md-6">
                        <h3 class="title with-icon "><i class="fa fa-users icn-title"></i> Client</h3>
                        <div class="box-block">
                          <ul class="list-unstyled list-clients clearfix">
                            <li><a href="#"><img src="assets/client.png"  alt="" class="img-responsive"></a></li>
                            <li><a href="#"><img src="assets/client.png" alt="" class="img-responsive"></a></li>
                            <li><a href="#"><img src="assets/client.png" alt="" class="img-responsive"></a></li>
                            <li><a href="#"><img src="assets/client.png" alt="" class="img-responsive"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <h3 class="title with-icon"><i class="fa fa-comments-o icn-title"></i> Testimonial</h3>
                        <div class="box-block">
                          <div id='testimonial-slider' class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                              <div class="item active">
                                <div class="box-testimonial">
                                  <div class="oComment">
                                    <h5>interactive designer</h5>
                                    <p> Jhonny Doe is an excellent designer and completed the project successfully. I would hire him again</p>
                                    <div class="text-right date-post"><small>Post: 1 Minute Ago</small></div>
                                  </div>
                                  <img src="assets/adrienliagre.jpg" alt=''>
                                </div>
                              </div>
                              <div class="item ">
                                <div class="box-testimonial">
                                  <div class="oComment">
                                    <h5>interactive designer</h5>
                                    <p> Jhonny Doe is an excellent designer and completed the project successfully. I would hire him again</p>
                                    <div class="text-right date-post"><small>Post: 1 Minute Ago</small></div>
                                  </div>
                                  <img src="assets/adrienliagre.jpg" alt=''>
                                </div>
                              </div>
                            </div>
                            <div class="control-testi-slider">
                              <a href="#testimonial-slider" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                              <a href="#testimonial-slider" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <!-- =========
                    End List your  client  and testimonial section
                    ===================================-->

                  </div>
                </div>
                <!-- =========
                End About tab content section
                ===================================-->



                <!-- =========
                Start resume tab content section
                ===================================-->
                <div id='resume' class="tab-pane fade">
                  <div class="body-content">
                    <div class="row">
                      <div class="col-md-8">


                        <!-- =========
                        Start Time line section
                        ===================================-->
                        <h3 class="title with-icon"><span class="glyphicon glyphicon-plane icn-title"></span> Work Experiences</h3>
                        <div class="box-block">
                          <div class="time-line">
                            <div class="item-event current">
                              <span class="date">2015</span>
                              <div class="event-content">
                                <h4>Head Of Publishers</h4>
                                <h5>Admark</h5>
                                <p>Missions: CRM, account management, price optimization and yield management, RPM/CPM optimization, A/B testing, cases study making</p>
                              </div>
                            </div>
                            <div class="item-event">
                              <span class="date">2014</span>
                              <div class="event-content">
                                <h4>Export sales assistant</h4>
                                <h5>Sanofi</h5>
                                <p>Supporting a country portfolio (Saudi Arabia). Management of orders from the beginning until delivery to customer's warehouses (turnover: 130 billion euros per year). Using SAP software. Updating customers data for Sub-saharan Africa area (250 customers)</p>
                              </div>
                            </div>
                            <div class="item-event last">
                              <span class="date">2013</span>
                              <div class="event-content">
                                <h4>Marketing trainee</h4>
                                <h5>TUI France</h5>
                                <p>Conducting benchmark studies between “Nouvelles Frontières” (french travel company, part of TUI Group) and its competitors for each new product and establishing a strategy to improve these products. Highlighting key selling points for local sellers in order to help them to answer to customer expectations and strengths of “Nouvelles Frontières” compared to the competitors (131 agencies reached)</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- =========
                        End Time line section
                        ===================================-->

                        <!-- =========
                        Start Time line section
                        ===================================-->
                        <div class="deviter"></div>
                        <h3 class="title with-icon"><span class="fa fa-book icn-title"></span> Education</h3>
                        <div class="box-block">
                          <div class="time-line">
                            <div class="item-event current">
                              <span class="date">2014-17</span>
                              <div class="event-content">
                                <h4>Master Degree Student</h4>
                                <h5 > Edhec Business School - France</h5>
                                <p>Top 20 (16) 2014 Master in Management by Financial Times worldwide ranking and 4th business school in France. Specialiaties : Marketing – Strategic Management – Corporate Finance – Cost Accounting – Decision Sciences</p>
                              </div>
                            </div>
                            <div class="item-event">
                              <span class="date">2016</span>
                              <div class="event-content">
                                <h4>Exchange Student</h4>
                                <h5>FUDAN University</h5>
                                <p>Top 16 university in Asia by QS University Rankings in 2015 Specialiaties: World Economy (Globalization and Chinese Economy)</p>
                              </div>
                            </div>
                            <div class="item-event last">
                              <span class="date">2015</span>
                              <div class="event-content">
                                <h4>Dev Bootcamp Student</h4>
                                <h5>Le Wagon</h5>
                                <p>Object Oriented Programming with Ruby, Ruby on Rails, HTML, CSS, Javascript / JQuery for front-end integration. Clean, maintainable code, versioning with Git & Github - Deployment on Heroku</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- =========
                        End Time line section
                        ===================================-->

                      </div>
                      <div class="col-md-4">
                        <h3 class="title with-icon"><span class="fa fa-code icn-title"></span> Programming Skills</h3>
                        <div class="box-block">


                          <!-- =========
                          STart your Skills Progress bars section
                          ===================================-->
                          <ul class="list-unstyled list-skills">
                            <li>
                              <span class="caption-skill">Ruby On Rails</span>
                              <div class="progress">
                                <div class="progress-bar" style="width: 60%;">
                                  <span>60% </span>
                                </div>
                              </div>
                            </li>
                            <li>
                              <span class="caption-skill">Javascript</span>
                              <div class="progress">
                                <div class="progress-bar" style="width: 40%;">
                                  <span>40% </span>
                                </div>
                              </div>
                            </li>
                            <li>
                              <span class="caption-skill">HTML & CSS </span>
                              <div class="progress">
                                <div class="progress-bar" style="width: 75%;">
                                  <span>75% </span>
                                </div>
                              </div>
                            </li>
                            <li>
                              <span class="caption-skill">MYSQL</span>
                              <div class="progress">
                                <div class="progress-bar"  style="width: 50%;">
                                  <span>50% </span>
                                </div>
                              </div>
                            </li>
                          </ul>
                          <!-- =========
                          End your Skills Progress bars section
                          ===================================-->

                        </div>
                        <div class="deviter"></div>
                        <h3 class="title with-icon"><span class="fa fa-pencil icn-title"></span> Other Skills</h3>
                        <div class="box-block">

                          <!-- =========
                          STart your Skills Progress point bars section
                          ===================================-->
                          <ul class="list-unstyled list-points-progress">
                            <li>
                              <span class="caption-skill">PhotoShop</span>
                              <div class="pogress-point">
                                <span class="point-indicator">40%</span>
                                <div class="progress-bar-point" style="width: 40%;"></div>
                              </div>
                            </li>
                            <li>
                              <span class="caption-skill">Excel</span>
                              <div class="pogress-point">
                                <span class="point-indicator">70%</span>
                                <div class="progress-bar-point" style="width: 70%;"></div>
                              </div>
                            </li>
                            <li>
                              <span class="caption-skill">Vegas Pro 11</span>
                              <div class="pogress-point">
                                <span class="point-indicator">60%</span>
                                <div class="progress-bar-point" style="width: 60%;"></div>
                              </div>
                            </li>
                          </ul>
                          <!-- =========
                          STart your Skills Progress point bars section
                          ===================================-->


                        </div>
                        <div class="deviter"></div>
                        <h3 class="title with-icon"><span class="fa fa-globe icn-title"></span> Language Skills</h3>
                        <div class="box-block">
                          <ul class="list-unstyled list-strip">
                            <li><i class="fa fa-check"></i> French</li>
                            <li><i class="fa fa-check"></i> English</li>
                          </ul>
                        </div>
                        <div class="deviter"></div>
                        <h3 class="title with-icon"><span class="fa fa-file icn-title"></span> Download Cv</h3>
                        <div class="box-block">
                          <p>You can download my CV trough my linkedin profile</p>
                          <a href="https://www.linkedin.com/in/adrien-liagre-0595b07b?trk=nav_responsive_tab_profile_pic" class="btn btn-flat btn-block" target="_blank"><i class="fa fa-download"></i> Download</a>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
                <!-- =========
                End resume tab content section
                ===================================-->

                <!-- =========
                Start portfolio tab content section
                ===================================-->
                <div id='portfolio' class="tab-pane fade">
                  <div class="body-content">
                    <h3 class="title with-icon"><span class="fa fa-briefcase icn-title"></span> My Works</h3>

                    <!-- =========
                    Start list control postfolio section
                    ===================================-->
                    <div class="text-center">
                      <ul class="control-profolio list-inline">
                        <li class="filter active" data-filter="all">All</li>
                      </ul>
                    </div>
                    <!-- =========
                    End list control postfolio section
                    ===================================-->

                    <!-- =========
                    Start grid postfolio section
                    ===================================-->
                      <li class="mix websiteapp" style="list-style-type: none;">
                        <div class="item-portfolio">
                          <a href="http://www.sportifly.fr/" target="_blank">
                            <div class="mask"><div class="icn-center"></i></div></div>

                            <%= image_tag("logosptfloff.png", alt: "", class: "img-responsive taille") %>
                          </a>
                          <div class="desc-portfolio margin"><h5>SPORTIFLY</h5></div>
                        </div>
                      </li>

                    <!-- =========
                    End grid postfolio section
                    ===================================-->


                  </div>
                </div>
                <!-- =========
                End portfolio tab content section
                ===================================-->


                <!-- =========
                Start Blog tab content section
                ===================================-->
                <div id='blog' class="tab-pane fade">
                  <div class="body-content">
                    <h2 class="title with-icon"><span class="fa  fa-comment-o icn-title"></span> Coming Soon ...</h2>
                  </div>
                </div>


                <!-- =========
                End Blog tab content section
                ===================================-->


                <!-- =========
                Start Contact tab content section
                ===================================-->
                <div id='contact' class="tab-pane fade">
                  <div class="body-content">
                    <h3 class="title with-icon"><span class="fa fa-coffee icn-title"></span> Get In Touch</h3>

                    <!-- =========
                    Start map section
                    ===================================-->
                    <div class="map-area">

                      <div id="map">
                      </div>
                      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=14&size=1000x400&sensor=false&maptype=roadmap&markers=color:red|14+Rue+François+Boucher,+78000+Versailles", class: "img-responsive center-block" %>
                      <div class="info-map">
                        <h3>Contact Info</h3>
                        <ul class="list-unstyled list-info">
                          <li><i class="fa fa-home"></i> 14 rue Francois Boucher 78 000 Versailles - France</li>
                          <li><i class="fa fa-phone"></i> +33 631 871 551</li>
                          <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/L_ASdrI?lang=fr">twitter </a></li>
                          <li><i class="fa fa-linkedin"></i> <a href="https://www.linkedin.com/in/adrien-liagre-0595b07b?trk=nav_responsive_tab_profile_pic" target="_blank">Linkedin</a></li>
                          <li><i class="fa fa-envelope"></i><a href="mailto:adrien.liagre@edhec.com">Email Me</a> </li>
                        </ul>
                      </div>
                    </div>
                    <div class="deviter"></div>
                    <br/>
                    <!-- =========
                    End map section
                    ===================================-->



              <!-- =========
              End tab content section
              ===================================-->


            <!-- =========
            End Content section
            ===================================-->


            <!-- =========
            Start Footer section
            ===================================-->
            <footer class="footer">
              EH10
            </footer>
            <!-- =========
            End Footer section
            ===================================-->

          </div>
        </div>
      </div>
    </div>
    <!-- =========
    End Wrapper Page
    ===================================-->

    <!-- =========
    Text Showup Wait Document Ready
    ===================================-->
    <div id="wait-page" class="text-center">Loading...</div>

    <!-- =========
    Link Config Custom styles
    ===================================-->

   <!--  <a href="modal_configuration.html" class="configuration ajax_link"><i class="fa fa-cog"></i> Configuration</a>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"> </div>
 -->


    <!-- =========
    Javascript load
    ===================================-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <!-- jQuery animation page loader -->

    <!-- JS maps for gmap3 JavaScript plugins) -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->



    <!-- Configuration app js -->

  </body>
</html>
